<div class="container text-center">
    <div class="row">
        <div class="col-md-4">
            <h5>Contacto</h5>
            <ul class="list-unstyled">
                <li><i class="fas fa-envelope"></i>grupo_13@club.com</li>
                <li><i class="fas fa-phone"></i>+54 (11) 4560-7890</span></li>
                <li><i class="fas fa-map-marker-alt"></i>Calle Falsa 123, Bs. As. Argentina</span></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h5>Redes Sociales</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="https://es-la.facebook.com/" class="text-white fw text-decoration-none">
                        <i class="bi bi-facebook"></i> Facebook
                    </a>
                </li>
                <li>
                    <a href="https://x.com/?lang=es" class="text-white fw text-decoration-none">
                        <i class="bi bi-twitter"></i> Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" class="text-white fw text-decoration-none">
                        <i class="bi bi-instagram"></i> Instagram
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <h5>Enlaces Rápidos</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'disciplinas_listado' %}" class="text-white fw text-decoration-none">
                        <i class="fas fa-book"></i> Disciplinas
                    </a>
                </li>
                <li>
                    <a href="{% url 'profes_listado' %}" class="text-white fw text-decoration-none">
                        <i class="fas fa-book"></i> Profes
                    </a>
                </li>
                <li>
                    <a href="{% url 'socios_listado' %}" class="text-white fw text-decoration-none">
                        <i class="fas fa-users"></i> Socios
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
