<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item me-2">
            <a class="nav-link text-white {% if active_nav == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Inicio</a>
        </li>
        <li class="nav-item me-2">
            <a class="nav-link text-white {% if active_nav == 'disciplinas' %}active{% endif %}" href="{% url 'disciplinas_listado' %}">Disciplinas</a>
        </li>
        <li class="nav-item me-2">
            <a class="nav-link text-white {% if active_nav == 'profes' %}active{% endif %}" href="{% url 'profes_listado' %}">Profes</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item me-2">
                <a class="nav-link text-white {% if active_nav == 'socios' %}active{% endif %}" href="{% url 'socios_listado' %}">Socios</a>
            </li>
        {% endif %}
    </ul>



    {% if not user.is_authenticated  %}
        <a href="{% url 'login' %}" class="btn btn-primary py-1">Ingresar</a>
    {% else %}
        <div class="d-flex flex-row align-items-center" style="gap:16px;">
            <span>Hola, {{ user.get_full_name }}<span style="font-size:10px;"> ({{ user.get_username|upper }})</span></span>

            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-secondary w-100 py-1" type="submit">Cerrar sesión</button>
            </form>
        </div>
    {%  endif %}

</div>
