{% extends "club/layout.html" %}

{% block title %}Disciplinas - Gestión de Club{% endblock %}

{% block main_content %}

{% block extra_head %}
    {% load static %}
    <style>
        body {
            background-image: url('{% static 'club/img/fo7.jpg' %}');
            background-size: cover;
            background-position: center;
            
        }
    </style>
{% endblock %}
<div class="container mt-4">
    <h2 ><span class="text-#212529 fw-bold text-decoration-none">Disciplinas</h2>
    <p>Lista de disciplinas ofrecidas por el club:</p>
    <ul>
        <li><span class="text-#212529 fw-bold text-decoration-none">Fútbol</li>
        <li><span class="text-#212529 fw-bold text-decoration-none">Baloncesto</li>
        <li><span class="text-#212529 fw-bold text-decoration-none">Natación</li>
        <li><span class="text-#212529 fw-bold text-decoration-none">Tenis</li>
        <li><span class="text-#212529 fw-bold text-decoration-none">Atletismo</li>
        <li><span class="text-#212529 fw-bold text-decoration-none">Artes Marciales</li>
        <li><span class="text-#212529 fw-bold text-decoration-none">Ciclismo</li>
        <li><span class="text-#212529 fw-bold text-decoration-none">Gimnasia</li>
        <li><span class="text-#212529 fw-bold text-decoration-none">Boxeo</li>

    </ul>
</div>
{% endblock %}

