{% extends "club/layout.html" %}
{% load static humanize %}

{% block title %}Disciplinas{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'club/styles/disciplinas.css' %}">
{% endblock %}


{% block main_nav %}
    {% include 'club/partials/main_nav.html' with active_nav='disciplinas' %}
{% endblock %}

{% block main_content %}
    <div class="container my-5">
        <div class="w-75 m-auto">
            <h1>Disciplinas</h1>

            <div class="d-flex justify-content-between mb-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Listado</li>
                    </ol>
                </nav>

                <div>
                    {% if perms.club.add_disciplina %}
                        <a href="{% url 'disciplina_crear' %}" class="btn btn-success btn-sm">Crear</a>
                    {% endif %}
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Nombre</th>
                        <th scope="col">Horarios</th>
                        <th scope="col">Profe</th>
                        <th scope="col" class="text-end">Cuota</th>
                        {% if perms.club.change_disciplina %}
                            <th scope="col" class="text-center">Acciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for disciplina in disciplinas %}
                        <tr>
                            <td><span class="text-#212529 fw-bold">{{ disciplina.nombre }}</span></td>
                            <td class="small">{{ disciplina.horarios }}</td>
                            <td>{% if disciplina.profe %}{{ disciplina.profe }}{% else %}-{% endif %}</td>
                            <td class="text-end text-nowrap">{% if disciplina.cuota %}$ {{ disciplina.cuota|intcomma }}{% else %}<span class="small">Consultar</span>{% endif %}</td>
                            {% if perms.club.change_disciplina %}
                                <td class="text-center">
                                    <a href="{% url 'disciplina_modificar' disciplina.id %}" class="me-1"><i class="bi bi-pencil"></i></a>
                                    <a href="#" class="text-danger me-1" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="{% url 'disciplina_eliminar' disciplina.id %}"><i class="bi bi-trash"></i></a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
