<!-- tu_app/tu_template_confirm_delete.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar {{ object }}</title>
</head>
<body>
    <h1>¿Estás seguro de que deseas eliminar {{ object }}?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sí, eliminar</button>
        <a href="{% url 'disciplinas_listado' %}">Cancelar</a>
    </form>
</body>
</html>
