{% extends "club/layout.html" %}

{% block title %}Inscripción de Socios - Gestión de Club{% endblock %}

{% block main_content %}
{% block extra_head %}
    {% load static %}
    <style>
        body {
            background-image: url('{% static 'club/img/fo7.jpg' %}');
            background-size: cover;
            background-position: center;
            
        }
    </style>
{% endblock %}
<div class="container mt-4">
    <h2><span class="text-#212529 fw-bold text-decoration-none">Inscripción de Nuevos Socios</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Inscribirse</button>
        
    </form>
    <br>
</div>
{% endblock %}
