{% extends 'club/layout.html' %}
{% load static %}

{% block title %}Profes{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'club/styles/profesores.css' %}">
{% endblock %}


{% block main_nav %}
    {% include 'club/partials/main_nav.html' with active_nav='profes' %}
{% endblock %}

{% block main_content %}
    <div class="container my-5">
        <div class="w-75 m-auto">
            <h1>Profes</h1>

            <div class="d-flex justify-content-between mb-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Listado</li>
                    </ol>
                </nav>

                <div>
                    <a href="{% url 'profe_crear' %}" class="btn btn-primary btn-sm">Crear</a>
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">DNI</th>
                        <th scope="col">email</th>
                        <th scope="col">CUIT</th>
                        <th scope="col">Disciplina</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for profe in profes %}
                        <tr>
                            <td><span class="text-#212529 fw-bold">{{ profe.nombre }}</span></td>
                            <td><span class="text-#212529 fw-bold">{{ profe.apellido }}</span></td>
                            <td>{{ profe.dni }}</td>
                            <td>{{ profe.email }}</td>
                            <td>{{ profe.cuit }}</td>
                            <td></td>
                            <td class="text-center">
                                <a href="{% url 'profe_modificar' profe.id %}" class="me-2"><i class="bi bi-pencil"></i></a>
                                <a href="{% url 'profe_eliminar' profe.id %}" onclick="return confirmarEliminacion()" class="text-danger me-2"><i class="bi bi-trash"></i></a>
                                <a href="{#% url 'profe_socios_listar' profe.id %#}" class="text-black"><i class="bi bi-people"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
