{% extends 'club/layout.html' %}

{% block title %}CLUB Profesores{% endblock %}

{% block main_content %}
{% block extra_head %}
    {% load static %}
    <style>
        body {
            background-image: url('{% static "club/img/fo4.jpg" %}');
            background-size: cover;
            background-position: center;
        }
    </style>
{% endblock %}
    <div class="container my-5">

        <h1> ¡Bienvenido a Club Deportivo Total!</h1><br>

        <p>
            Estamos encantados de presentarles a nuestro increíble equipo de profesores, quienes son el corazón y el alma de todas las actividades que ofrecemos. En nuestro club, nos enorgullece brindar una amplia gama de opciones para que todos, desde los más pequeños hasta los adultos, puedan disfrutar y participar en actividades deportivas y artísticas que promueven la salud, la diversión y el desarrollo personal.
        </p>
        <p>
            <b>Fútbol:</b>
            El entusiasta y experimentado entrenador <b>Andrés Torres</b> está listo para guiar a nuestros jugadores hacia la victoria con su pasión por el juego y su enfoque en el desarrollo de habilidades.
        </p>
        <p>
            <b>Baloncesto:</b>
            Bajo la dirección del carismático y dedicado entrenador <b>Laura Gómez</b>, los jugadores de baloncesto aprenderán técnicas avanzadas y tácticas estratégicas mientras disfrutan de cada sesión de práctica.
        </p>
        <p>
            <b>Natación:</b>
            Nuestra experimentada instructora <b>Claudia Ramírez</b> brinda clases de natación seguras y divertidas, ayudando a los nadadores de todas las edades y niveles de habilidad a sentirse cómodos y confiados en el agua.
        </p>
        <p>
            <b>Tenis:</b>
            Con la energía contagiosa y la experiencia técnica del instructor <b>Juan Martínez</b>, los jugadores de tenis pueden esperar mejorar sus habilidades en la cancha mientras disfrutan de un ambiente de aprendizaje positivo y motivador.
        </p>
        <p>
            <b>Atletismo:</b>
            Bajo la orientación del apasionado y dedicado entrenador <b>Carlos López</b>, los atletas de todas las edades pueden esperar mejorar su resistencia, fuerza y técnica en todas las disciplinas atléticas.
        </p>
        <p>
            <b>Artes:</b>
            La talentosa y creativa instructora <b>Sofía Herrera</b> guía a los estudiantes a través de un viaje de autoexpresión y descubrimiento artístico en nuestras clases de artes, explorando una variedad de medios y técnicas.
        </p>
        <p>
            <b>Ciclismo:</b>
            Con su amor por la aventura y el ciclismo, el instructor <b>Daniel Sánchez</b> lidera emocionantes recorridos y clases diseñadas para desafiar y mejorar las habilidades de los ciclistas de todas las edades.
        </p>
        <p>
            <b>Gimnasia:</b>
            Bajo la tutela experta y amigable de la instructora <b>Ana Castro</b>, los estudiantes de gimnasia exploran el equilibrio, la flexibilidad y la fuerza en un ambiente de apoyo y motivación.
        </p>
        <p>
            <b>Boxeo:</b>
            El intrépido y respetado instructor <b>Roberto Morales</b> entrena a los boxeadores con disciplina y habilidad, enfocándose en el acondicionamiento físico, la técnica y el respeto mutuo dentro y fuera del ring.
        <p>
            En <b>Deportivo Total</b>, nos esforzamos por ofrecer un ambiente inclusivo y enriquecedor donde todos puedan descubrir su pasión, desarrollar sus habilidades y crear recuerdos que durarán toda la vida. ¡Únete a nosotros para una emocionante aventura llena de diversión, amistad y crecimiento personal!
        </p>

    </div>
{% endblock %}
