{% extends 'club/layout.html' %}

{% block title %}CLUB Socios{% endblock %}

{% block main_content %}
{% block extra_head %}
    {% load static %}
    <style>
        body {
            background-image: url('{% static "club/img/fo4.jpg" %}');
            background-size: cover;
            background-position: center;

        }
    </style>
{% endblock %}
    <div class="container mt-5">

        <h1> ¡Bienvenido a Club Deportivo Total!</h1><br>

        <p>

            En Club Deportivo Total, estamos comprometidos a ofrecerte una experiencia deportiva integral que abarca una amplia gama de disciplinas emocionantes. Desde el emocionante ritmo del fútbol hasta la elegancia del tenis, desde la fuerza y ​​la agilidad del baloncesto hasta la serenidad de la natación, nuestro club es el lugar donde se encuentran todas las pasiones deportivas.<br><br>

            Nuestro objetivo en Club Deportivo Total es ofrecerte mucho más que solo un lugar para practicar deportes. Somos una comunidad dedicada de individuos apasionados que comparten el amor por el deporte y la búsqueda de la excelencia. Con entrenadores expertos y programas diseñados para desafiar y motivar, estamos aquí para ayudarte a alcanzar tus metas deportivas, ya sea que estés buscando competir al más alto nivel o simplemente mantenerte activo y saludable.

            <br><br>Únete a nosotros en Club Deportivo Total y descubre un mundo de oportunidades para mejorar tu juego, conectarte con otros entusiastas del deporte y formar parte de una comunidad vibrante. Regístrate hoy mismo y únete a nosotros en este emocionante viaje deportivo.
        </p>

    </div>
{% endblock %}
