{% extends 'club/layout.html' %}
{% load static %}

{% block title %}Socios{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'club/styles/socios.css' %}">
{% endblock %}


{% block main_nav %}
    {% include 'club/partials/main_nav.html' with active_nav='socios' %}
{% endblock %}

{% block main_content %}
    <div class="container my-5">
        <div class="w-75 m-auto">
            <h1>Socios</h1>

            <div class="d-flex justify-content-between mb-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Listado</li>
                    </ol>
                </nav>

                <div>
                    {% if perms.club.add_socio %}
                        <a href="{% url 'socio_crear' %}" class="btn btn-success btn-sm">Crear</a>
                    {% endif %}
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">DNI</th>
                        <th scope="col">email</th>
                        <th scope="col">Socio Nro.</th>
                        <th scope="col">Disciplinas</th>
                        {% if perms.club.change_socio %}
                            <th scope="col" class="text-center">Acciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for socio in socios %}
                        <tr>
                            <td><span class="text-#212529 fw-bold">{{ socio.nombre }}</span></td>

                            <td><span class="text-#212529 fw-bold">{{ socio.apellido }}</span></td>

                            <td>{{ socio.dni }}</td>

                            <td>{{ socio.email }}</td>

                            <td>{{ socio.numero }}</td>

                            <td>
                                {% if socio.disciplinas.all.count > 0 %}
                                    <ul class="list-unstyled mb-1">
                                        {% for inscripcion in socio.inscripcion_set.all %}
                                            <li>
                                                {% if perms.club.delete_inscripcion %}
                                                    <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="{% url 'socio_inscripcion_eliminar' inscripcion.id %}"><i class="bi bi-dash-circle small"></i></a>
                                                {% endif %}
                                                {{ inscripcion.disciplina.nombre }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <div>
                                    {% if perms.club.add_inscripcion %}
                                        <a href="{% url 'socio_inscripcion' socio.id %}" class="text-success small"><i class="bi bi-plus-circle"></i> INSCRIPCIÓN</a>
                                    {% endif %}
                                </div>
                            </td>

                            {% if perms.club.change_socio %}
                                <td class="text-center">
                                    <a href="{% url 'socio_modificar' socio.id %}" class="me-2"><i class="bi bi-pencil"></i></a>
                                    <a href="#" class="text-danger me-2" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="{% url 'socio_eliminar' socio.id %}"><i class="bi bi-trash"></i></a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
